{% extends 'shop/base.html' %}
{% load static %}
{% load i18n %}
{% load verbose_names %}
{% block title %}{{ product_detail.name.title }}{% endblock %}
{% block content %}
    <div class="items">
        <div class="item">
            <img src="{{ MEDIA_URL }}{{ product_detail.img }}" alt="">
            {% for name, value in product_detail|get_verbose_field_name %}
                <p>{{ name.capitalize }}: {{ value.capitalize }}</p>
            {% endfor %}
            {% if user.is_authenticated %}
                <form action="{% url 'cart_add' product_detail.pk %}" method="post">
                    {{ cart_form }}
                    {% csrf_token %}
                    <input type="submit" value="{% trans 'Add to cart' %}">
                </form>
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                    <span class="success">{% trans message %}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
