{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id="root">
    <div id="navbar">
        <div><img src="{% static 'img/logo2.png' %}" alt="logo" id="logo"></div>
        <div id="navbar-buttons">
            {% for item in menu %}
                <a href="{% url item.url %}">
                    <div>{{ item.title }}</div>
                    <img src="{% static item.img_url %}" alt={{ item.title }}>
                </a>
            {% endfor %}
        </div>
        <div class="account-icons">
            {% if user.is_authenticated %}
                <a href="{% url 'profile' user.id %}">
                    <i class="fa fa-user account-icons" aria-hidden="true"></i>
                </a>
                <a href="{% url 'logout' %}">
                    <i class="fa fa-sign-out account-icons" aria-hidden="true"></i>
                </a>

            {% else %}

                <a href="{% url 'login' %}">
                    <i class="fa fa-sign-in account-icons" aria-hidden="true"></i>
                </a>
                <a href="{% url 'registration' %}">
                    <i class="fa fa-user-plus account-icons" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
    </div>

    {% block content %}{% endblock %}

    <div id="filler"></div>
    <div id="footer">
        <div>
            <span>Продукция</span>
            <p><a href="">Планетарные миксеры</a></p>
            <p><a href="">Блендеры стационарные</a></p>
            <p><a href="">Чайники</a></p>
            <p><a href="">Тостеры</a></p>
            <p><a href="">Мультиварки</a></p>
            <p><a href="">Соковыжималки</a></p>
            <p><a href="">Насадки к миксерам</a></p>
            <p><a href="">Блендеры</a></p>
            <p><a href="">Кухонные комбайны</a></p>
            <p><a href="">Кофемашины</a></p>
        </div>
        <div>
            <span>О компании</span>
            <p><a href="">О компании</a></p>
            <p><a href="">Самовывоз</a></p>
            <p><a href="">Гарантия и сервис</a></p>
            <p><a href="">Политика конфиденциальности</a></p>
            <p><a href="">Пользовательское соглашение</a></p>
            <p><a href="">Производители</a></p>
            <p><a href="">Акции</a></p>
            <p><a href="">Карта сайта</a></p>
        </div>
    </div>
</div>
</body>
</html>