{% extends 'main/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody style="text-align: center">
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">ссылка</a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url "cart_remove" product.id%}">Remove</a></td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total" style="border-top: 1px solid black">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "catalog" %}" class="button light">Continue shopping</a>
        <a href="#" class="button">Checkout</a>
    </p>

    {% if cart_items %}
        {% for item in cart_items %}
            <p>ТОВАР: {{ item }}</p>
            <p>КОЛИЧЕСТВО ТОВАРА: {{ item.quantity }}</p>
            <p>USER_ID: {{ item.customer_id_id }}</p>
        {% endfor %}
        {{ cart_items.product_id_id }}

    {% endif %}
{% endblock %}