{% extends 'main/base.html' %}

{% load static %}

{% block title %}Каталог товаров{% endblock %}

{% block content %}
    <h2 class="center">Популярные категории</h2>
    <div class="items">
        {% for category in catalog_list %}
            <a href="{{ category.get_absolute_url }}">
                <div class="item">
                    <img src="{{ MEDIA_URL }}{{ category.img_url }}" alt="{{ category.name }}">
                    <h4>{{ category.name.title }}</h4>
                </div>
            </a>
        {% endfor %}
    {% if user.is_authenticated %}
        <p>Hello {{ user.email }}</p>
    {% else %}
        <p>Welcome, new user. Please log in.</p>
    {% endif %} 
    </div>
{% endblock %}