{% extends 'main/base.html' %}
{% load static%}

{% block title %}Главная страница{% endblock %}

{% block content %}
<script src="{% static 'js/slider.js' %}"></script>
<div id="home">
    <h1 class="center">Кухонные машины KitchenAid</h1>
    <div id="carousel"></div>
    <p class="center">
        Современные люди живут настолько насыщенной жизнью, что на насущную потребность в виде ежедневного приготовления
        пищи просто не хватает времени. Бытовая техника для кухни помогает не только свести к минимуму временные
        затраты, но и значительно облегчить сам процесс.
    </p>
    <div class="carousel">
        <div class="slide"><img src="{% static 'img/banner3.jpg' %}" alt="banner3"></div>
        <div class="slide"><img src="{% static 'img/banner2.jpg' %}" alt="banner2"></div>
        <div class="slide"><img src="{% static 'img/banner4.jpg' %}" alt="banner4"></div>
        <div class="slide"><img src="{% static 'img/banner1.jpg' %}" alt="banner1"></div>
        <button id="left-carousel-button" onclick="plusDivs(-1)">&#10094;</button>
        <button id="right-carousel-button" onclick="plusDivs(1)">&#10095;</button>
    </div>
</div>
{% endblock %}