{% extends 'main/base.html' %}
{% load static %}
{% load verbose_names %}
{% block title %}{{ product_detail.name.title }}{% endblock %}
{% block content %}
    <h1 class="center">ЗДЕСЬ БУДЕТ ОДИН ТОВАР С ЦЕНОЙ, ДОБАВЛЕНИЕМ В КОРЗИНУ И БЛЭКДЖЭКОМ И... </h1>
    <div class="items">
        <div class="item">
            <img src="{{ MEDIA_URL }}{{ product_detail.img }}" alt="">
            {% for name, value in product_detail|get_verbose_field_name %}
                <p>{{ name.capitalize }}: {{ value.capitalize }}</p>
            {% endfor %}
        {% if not_in_stock %}
            <p>{{ not_in_stock }}</p>
        {% endif %}
            <form action="{% url 'cart_add' product_detail.pk %}" method="post">
                {{ cart_form }}
                {% csrf_token %}
                <input type="submit" value="Add to cart">
            </form>
        </div>
    </div>
{% endblock %}