{% extends 'main/base.html' %}
{% load static %}
{% load verbose_names %}
{% block title %}{{ product_detail.name.title }}{% endblock %}
{% block content %}
    <h1 class="center">ЗДЕСЬ БУДЕТ ОДИН ТОВАР С ЦЕНОЙ, ДОБАВЛЕНИЕМ В КОРЗИНУ И БЛЭКДЖЭКОМ И... </h1>
    <div class="items">
        <div class="item">
            {% if product_detail %}
                <img src="{{ MEDIA_URL }}{{ product_detail.img }}" alt="">
                {# через register.filter #}
                {% for name, value in product_detail|get_verbose_field_name %}
                    <p>{{ name.capitalize }}: {{ value.capitalize }}</p>
                {% endfor %}
                {# через итератор: #}
                {# {% for field, value in product_detail %} #}
                {#      <p>{{ field }}: {{ value }}</p> #}
                {# {% endfor %}#}
            {% endif %}
        </div>
    </div>
{% endblock %}