{% extends 'shop/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Cart' %}{% endblock %}
{% block content %}
    {% if not cart_items %}
        <h1>{% trans "You don't have anything in your cart" %}</h1>
        <p><a href="{% url "catalog" %}" class="button light">{% trans "Go here to buy something" %}</a></p>
    {% else %}
        <h1>{% trans 'Your shopping cart' %}</h1>
        <table class="cart">
            <thead>
            <tr>
                <th>{% trans 'Product' %}</th>
                <th>{% trans 'Quantity' %}</th>
                <th>{% trans 'Remove' %}</th>
                <th>{% trans 'Price' %}</th>
                <th>{% trans 'Amount per item' %}</th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            {% for item in cart_items %}
                <tr>
                    <td>{{ item.product_id__name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <form action="{% url 'cart_remove' item.product_id_id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="{% trans 'Remove' %}">
                        </form>
                    </td>
                    <td class="num">${{ item.product_id__price }}</td>
                    <td class="num">${{ item.total_cost_per_item }}</td>
                </tr>
            {% endfor %}
            <tr class="total" style="border-top: 1px solid black">
                <td colspan="3"></td>
                <td><b>{% trans 'Total' %}</b></td>
                <td class="num">${{ total_amount }}</td>
            </tr>
            </tbody>
        </table>
        <p class="text-right">
            <a href="{% url "catalog" %}" class="button light">{% trans 'Continue shopping' %}</a>
            <a href="{% url 'make_order' %}" class="button">{% trans 'Make order' %}</a>
        </p>
    {% endif %}
{% endblock %}